<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Autonoma*</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>
<style>

   .cars {
    padding-bottom: 300px;
   }

    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #008c8c;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: ;
    font-weight: 100px;
    font-size: 25px;
   }

   .sidenav a {
    padding: 10px 10px 16px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #265C55;
    display: block;
    transition: 0.4s;
   }

   .sidenav a:hover {
    color: #9c9c9c;
   }

   .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
   }
   @media screen and (max-height: 450px) {
      .sidenav {
      padding-top: 15px;
      }
      .sidenav a {
      font-size: 18px;
      }
   }

</style>

<body bgcolor="#dedede">


	<div class="header">

		<p>

		</p>
	</div>


<div id="navbar">
	<a href="/">CAR4R3NT</a>

<a href="/ka_rezervet_automasinu">Kā rezervēt automašīnu</a>
<a href="/autonomas_automasinas">Autonomas automašīnas</a>
<a href="/autonomas_noteikumi">Autonomas noteikumi</a>
<a href="/autonomas_kontakti">Autonomas kontakti</a>


<div class="topnav-right">
  <a href="/reservacija">Reservācija</a>
	<a href="/log_in">Log in</a>
</div>
</div></br>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<ul>
			<li><a href="#">
					<font color="#fff" title="processing..."><big>Vieglie&nbspauto</big></font>
				</a></li>
			<li><a href="#">
					<font color="#fff" title="processing..."><big>Kravas&nbspauto</big></font>
				</a></li>
			<li><a href="#">
					<font color="#fff" title="processing..."><big>Nomas&nbspautoparks</big></font>
				</a></li>
			<li><a href="#">
					<font color="#fff" title="processing..."><big>Nomas&nbsppunkti</big></font>
				</a></li>
			<li><a href="#">
					<font color="#fff" title="processing..."><big>Auto&nbsplīzings</big></font>
				</a></li>
			<li><a href="#">
					<font color="#fff" title="processing..."><big>Lietoti&nbspauto</big></font>
				</a></li>
			<li><a href="#">
					<font color="#fff" title="processing..."><big>Citi&nbspnomas&nbsppakalpojumi</big></font>
				</a></li>
		</ul>
	</div>

	<span style="font-size:30px;cursor:pointer" onclick="openNav()">
		<font style="position:absolute;
		left:20px; top:120px" size="100">&#9776;
	</span></font>

	<script type="text/javascript">
		function openNav() {
			document.getElementById("mySidenav").style.width = "300px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}

		window.onscroll = function () {
			myFunction()
		};

		var navbar = document.getElementById("navbar");
		var sticky = navbar.offsetTop;

		function myFunction() {
			if (window.pageYOffset >= sticky) {
				navbar.classList.add("sticky")
			} else {
				navbar.classList.remove("sticky");
			}
		}
	</script>

	<span style="font-size:30px;cursor:pointer" onclick="openNav()">
		<font style="position:absolute;
		left:20px; top:120px" size="100">&#9776;
	</span></font>


			<center><div class="block1">
				<h1><font color="265C55" face="Trebuchet MS" size="6">Autonomas automašīnas</font></h1>
			<div class="cars">
			<img src="static/img/16.png" width="370" height="205 hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="static/img/12.png" width="370" height="170" hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="static/img/20.png" width="370" height="175" hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="static/img/3.png" width="390" height="200" hspace="" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="static/img/6.webp" width="370" height="220" hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="static/img/5.png" width="370" height="205" hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="static/img/4.png" width="380" height="145" hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>


			<br><br></div></center>








	<div class="block10" style="position:absolute; left:520px; top:170px" color="red" width="710" height="405">
	</br></br>		
	<h6 style="position:absolute; left:35px; top:38px">Porsche Cayman GT4</h6>
	<h6 style="position:absolute; left:580px; top:38px">No 150€ dienā</h6>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:460px" color="red" width="710" height="405">
	</br></br>		
	<h6 style="position:absolute; left:35px; top:38px">Tesla Roadster</h6>
	<h6 style="position:absolute; left:580px; top:38px">No 500€ dienā</h6>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:760px" color="red" width="710" height="405">
	</br></br>		
	<h6 style="position:absolute; left:35px; top:38px">McLaren 720S</h6>
	<h6 style="position:absolute; left:580px; top:38px">No 250€ dienā</h6>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:1070px" color="red" width="710" height="405">
	</br></br>		
	<h6 style="position:absolute; left:35px; top:38px">McLareen GT</h6>
	<h6 style="position:absolute; left:580px; top:38px">No 400€ dienā</h6>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:1370px" color="red" width="710" height="405">
	</br></br>		
	<h6 style="position:absolute; left:35px; top:38px">Lamborghini aventodor</h6>
	<h6 style="position:absolute; left:580px; top:38px">N0 250€ dienā</h6></h6>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:1670px" color="red" width="710" height="405">
	</br></br>		
	<h6 style="position:absolute; left:35px; top:38px">Ferrari 812 superfast</h6>
	<h6 style="position:absolute; left:580px; top:38px">NO 150€ dienā</h6>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:1950px" color="red" width="710" height="405">
	</br></br>		
	<h6 style="position:absolute; left:35px; top:38px">Ferrari 458 spider</h6>
	<h6 style="position:absolute; left:580px; top:38px">NO 250€ dienā</h6>
	</div>




	<div class="block20" style="position:absolute; left:1300px; top:170px">
	
	<a href="#"><h6 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h6></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:460px">

	<a href="#"><h6 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h6></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:760px">
	
	<a href="#"><h6 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h6></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:1070px">
	
	<a href="#"><h6 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h6></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:1370px">
	
	<a href="#"><h6 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h6></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:1670px">
	
	<a href="#"><h6 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h6></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:1950px">	
	<a href="#"><h6 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h6></a>
	</div>




</body>
</html>

